header {
  position: sticky;
  background-color: #fff;
  z-index: 10;
  transition: top 0.25s;
  box-shadow: 0px 6px 6px 0px #ebeff7;
}
.header__wrap {
  max-width: 992px;
  width: 100%;
  height: 85px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  background-color: var(--white);
}
.header__logo img {
  height: 58px;
  width: auto;
}
.header__menu--list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.header__menu--link {
  display: flex;
  align-items: center;
  transition: bacground-color 0.25s ease-in-out;
  padding: 10px 14px;
  color: #2f3160;
  position: relative;
}
.header__menu--link.en-us-pearls-of-truths {
  font-size: 15px;
}

/* LANGUAGE */
.lang-item {
  display: none;
}
.lang {
  position: relative;
  font-size: 16px;
}

.lang__value {
  color: var(--white);
  background-color: var(--accent);
  border-radius: 16px;
  padding-inline: 17px;
  cursor: pointer;
  transition: all .25s;
}

.lang__value:hover {
  opacity: 0.9;
}

.lang__dropdown {
  opacity: 0;
  visibility: hidden;
  /* translate: 0 -2px; */
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--white);
  box-shadow: 0px 6px 6px 0px #ebeff7;
  list-style-type: none;
  width: 100%;
  text-align: center;
  transition: all .25s;
  border-radius: 0 0 16px 16px;
}

.lang__dropdown-link {
  color: var(--text);
  transition: all .25s;
  display: block;
}

.lang__dropdown-link:hover {
  color: var(--accent);
}

.lang:hover .lang__value {
  border-radius: 16px 16px 0 0;
}

.lang:hover .lang__dropdown {
  translate: 0 0;
  opacity: 1;
  visibility: visible;
}


@media screen and (min-width: 992px) {
  .header__menu--btn {
    display: none;
  }
  .header__menu--link::before {
    content: '';
    height: 2px;
    width: 0;
    background-color: #2f3160;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease;
  }
  .header__menu--link.active::before,
  .header__menu--link:hover::before {
    width: 100%;
  }
}