.social {
  display: flex;
  gap: 20px;
  align-items: center;
}
.social-link {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--blue); */
  transition: all 0.25s;
}
.social-link:hover {
  transform: scale(1.05);
}
